<link rel ="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <div class ="header">
        <div class = "topBar">
            <a href="/logout">Logout</a>
            <a href="/help">Help</a>
        </div>

        <div class = "title">
            <h1>Dashboard</h1>
        </div>
    </div>

</h1> <h1><a href="/orgregistration">Register Organization</a></h1>
</h1> <h1><a href="/funregistration">Register Funder</a></h1>

</h1> <h1><a href="/stkregistration">Add Beneficiary Stakeholder</a></h1>

</h1> <h1><a href="/outregistration">Add Outcome</a></h1>
</h1> <h1><a href="/outcomes">see outcomes</a></h1>
</h1> <h1><a href="/reports">see reports</a></h1>

</h1> <h1><a href="/users">users</a></h1>
</h1> <h1><a href="/stakeholders">Stakeholders</a></h1>