{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block pageheader %} Dashboard {% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-3">
      <div class="container pt-3 mb-2 bg-light text-dark">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" placeholder="Search"/>
          
        
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
        <p>hiihhihhpihpihiphihpihihiphiphihiphihihp<br>kuougougouguogougg</p>
        
      </div>
    </div>
    </div>
    <div class="col-md-4">.col-md-4</div>

    <div class="col-md-4">.col-md-4</div>
  </div>

{% endblock %}