{% from "_render_field.html" import render_field %}

<html>
<head>
<title>Form!</title>
</head>
<body>
<h1><a href="/">Organization</a></h1> <h1><a href="/form2">Stakeholder</a></h1> <h1><a href="/form3">Outcome</a></h1>
<form method="POST" action="{{ url_for('form') }}">
    {{ form.csrf_token }}

    <h2>Stakeholder Information </h2>

    {{ render_field(form.title )}}

    {{ render_field(form.description )}}

    {{ render_field(form.location )}}

    <h2>Characteristics</h2>
    <h3>Select all that apply</h3>


    {{ render_field(form.offlangmincom )}}

    {{ render_field(form.mentalhealth )}}

    {{ render_field(form.seniors )}}

    {{ render_field(form.queer )}}

    {{ render_field(form.newref )}}

    {{ render_field(form.racial )}}

    {{ render_field(form.community )}}

    {{ render_field(form.disability )}}

    {{ render_field(form.indi )}}

    {{ render_field(form.female )}}

    {{ render_field(form.child )}}

    {{ render_field(form.lowincome )}}

    
    <input type="submit" value="Submit">
</form>
</body>
</html>