{% from "_render_field.html" import render_field %}

<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">

    <div class ="header">
        <div class = "topBar">
            <a href="/help">Help</a>
            <a href="/login">Log-In</a>
        </div>

        <div class = "title">
            <h1>Register Individual User</h1>
        </div>
<div style="background-color: #D9D9D9;border:2px solid #000; position:relative; margin-left:20%; margin-top:5%; width:40%;height:500px;display: flex; flex-direction:column;">
<form method="POST" action="{{ url_for('funregistration') }}">
    
    {{ form.csrf_token }}

    <h1 style="font-size: larger;">Register New User</h1>

    <h2>Contact Information</h2>
    <div>
    {{ render_field(form.firstname) }}
    </div>
    {{ render_field(form.lastname) }}

    {{ render_field(form.email) }}

    {{ render_field(form.phone) }}

    <h2>Choose one of the options below</h2>

    {{ render_field(form.financialinst) }}

    {{ render_field(form.academicinst) }}

    {{ render_field(form.govinst) }}

    <h2>The CSSE support team will contact the person listed above to confirm the information shared with us.</h2>
    <input style = "margin-left: 45%;margin-top: 5%;"type="submit" value="Register">
</div>
</form>
</body>
</html>