{% extends 'base.html' %}

{% block title %} Funder Registration {% endblock %}
{% block pageheader %} Funder Registration {% endblock %}
{% block content %}

<!-- <script src="bootstrap-validate.js"></script>
<script>
    bootstrapValidate('#orgbusnum','min:9:styoobid')
</script> -->
 
<div style="background-color: #D9D9D9;border:2px solid #000; position:relative; margin-left:35%; margin-top:35px; width:30%;height:1950px; display: flex; flex-direction:column; align-items: center;">

  <form method="POST" action="{{ url_for('funregistration') }}"> 

<div style="position:relative; margin-top:5%">
<h2>Funder Registration</h2> 


<form>

    
    <button type="submit" class="btn btn-primary">Submit</button>

</form>    


  
</div>


</form>

</div>

{% endblock %}