<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Stakeholders</title>

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <style type="text/css">
      .ps {
        width: 60%;
        margin-top: 20px;
        margin-left: 20%
      }
    </style>
  </head>
<body>
<div>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/funders">Funders</a></li>
  <li role="presentation"><a href="/organizations">Organizations</a></li>
  <li role="presentation" class="active"><a href="">Stakeholders</a></li>
</ul>
</div>
<div class="ps">
{% for i in stakeholders %}
<div class="panel panel-info">
  <div class="panel-body"><p>{{i.name}}</p> </div>
  <div class="panel-body"><p>{{i.description}}</p> </div>
  <div class="panel-body"><p>{{i.location}}</p> </div>
</div>
{% endfor %}
</div>    
</body>
</html>