{% extends 'base.html' %}

{% block title %} Stakeholder Registration {% endblock %}
{% block pageheader %} Stakeholder Registration {% endblock %}
{% block content %}
     
    <div style="background-color: #D9D9D9;border:2px solid #000; position:relative; margin-left:35%; margin-top:35px; width:30%;height:1950px; display: flex; flex-direction:column; align-items: center;">
 
      <form method="POST" action="{{ url_for('stkregistration') }}"> 

    <div style="position:relative; margin-top:5%">
    <h2>Stakeholder Registration</h2> 

    
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Stakeholder Name</label>
        <input type="text" name = "name" class="form-control" id="name">
    </div>


    <div class="input-group">
        <span class="input-group-text" name="description" id="description">Description</span>
        <textarea class="form-control"></textarea>  
    </div>

    <select class="form-select" aria-label="Default select example" id="location" name = "location" >
        <option selected>Location</option>
        <option value="1">Regional</option>
        <option value="2">National</option>
      </select>

      <div class="mb-3 ">
        <input class="form-check-input" type="checkbox" id="bsMinority" name= "bsMinority">
        <label class="form-check-label" for="bsMinority">
        Official Language Minorty Communities
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsMentalHealth" name="bsMentalHealth">
        <label class="form-check-label" for="bsMentalHealth">
        Living with mental health/additions
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsSeniors" name="bsSeniors">
        <label class="form-check-label" for="bsSeniors">
        Seniors
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsLGBTQ" name= "bsLGBTQ">
        <label class="form-check-label" for="bsLGBTQ">
        LGBTQS+
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsNewcomer" name="bsNewcomer">
        <label class="form-check-label" for="bsNewcomer">
        Newcomers and Refugees
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsRacialized" name="bsRacialized">
        <label class="form-check-label" for="bsRacialized">
        Racialized(all)
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsRemote" name="bsRemote">
        <label class="form-check-label" for="bsRemote">
        Rural, Remote or Northern Community
        </label>

    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsDisabilities" name="bsDisabilities">
        <label class="form-check-label" for="bsDisabilities">
        People with disabilities
        </label>
        
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsIndigenous" name="bsIndigenous">
        <label class="form-check-label" for="bsIndigenous">
        Indigenous
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsWomenGirls" name="bsWomenGirls">
        <label class="form-check-label" for="bsWomenGirls">
        Women and Girls
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsWomenGirls" name="bsChildrenYouth">
        <label class="form-check-label" for="bsChildrenYouth">
        Children and Youth
        </label>
    <div class="mb-3">
        <input class="form-check-input" type="checkbox" id="bsWomenGirls" name="bsLowIncome">
        <label class="form-check-label" for="bsLowIncome">
        Low Income
        </label>
        
        <button type="submit" class="btn btn-primary">Submit</button>

      </form>    


      
    </div>


</form>

</div>
{% endblock %}