<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Users</title>

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel ="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}"type="text/css">
    <style type="text/css">
      .ps {
        width: 60%;
        margin-top: 20px;
        margin-left: 20%
      }
    </style>
  </head>
<div class ="header">
    <div class = "topBar">
        <a href="/AccountDetails">Account Details</a> 
        <a href="/MyOrganization">My Organization</a>
    </div>
    <div class = "title">
        <h1>Users</h1>
    </div>
</div>
<body>
    <div class="center">
    <input  type=button action = "addOutcome.html" value="Add a New Stakeholder">
</div>

<div class="ps">
  <h2>Organizations</h2>
  {% for i in organizations %}
  <div class="panel panel-info">
      <h3>General Information</h3>
      <div class="panel-body"><p>{{i.legalName}}</p> </div>
      <div class="panel-body"><p>{{i.description}}</p> </div>
      <div class="panel-body"><p>{{i.useOfFunds}}</p> </div>
      <h3>Address</h3>
      <div class="panel-body"><p>{{i.address}}</p> </div>
      <div class="panel-body"><p>{{i.city}}</p> </div>
      <div class="panel-body"><p>{{i.province}}</p> </div>
      <div class="panel-body"><p>{{i.postalCode}}</p> </div>
      <div class="panel-body"><p>{{i.telephone}}</p> </div>
  </div>
  {% endfor %}
</div>

<div class="ps">
  <h2>Funders</h2>
  {% for i in funders %}
  <div class="panel panel-info">
      <h3>Contact Information</h3>
      <div class="panel-body"><p>{{i.firstname}}</p> </div>
      <div class="panel-body"><p>{{i.lastname}}</p> </div>
      <div class="panel-body"><p>{{i.email}}</p> </div>
      <div class="panel-body"><p>{{i.phone}}</p> </div>
      <h3>Funder Options</h3>
      <div class="panel-body"><p>{{i.financialinst}}</p> </div>
      <div class="panel-body"><p>{{i.academicinst}}</p> </div>
      <div class="panel-body"><p>{{i.govinst}}</p> </div>
  </div>
  {% endfor %}
</div>

    <!-- <table class="table">
        <tr class= "table__header">
            {% for header in headings %}
          <th class="table__cell">{{header}}</th>
          {% endfor %}
          </tr>
          {% for row in data %}
          <tr class="table__row">
          {% for cell in row %}
          <td class="table__cell">
            <a href="/editOutcome">
                <div>
                    {{ cell }}
                </div>
             </a>
           </td>
          
          {% endfor %}
          </tr>
          {% endfor %}
    </table> -->
</body>
</html>